

.header{
  text-align: center;
  font-size: 40px;
}

.header h3 {
  font-family: fantasy;
}

body{
  background-image: url(../img/homecake.jpg);

}

p{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.sidebar{
  width:200px;
  height: 2000px;
  float:right;
  background-color:white;
}
  .flashy {
  color: red;
  font-style: italic;
  width: 30%;
  float: left;
  border: 2px solid yellow;
  text-align: center;
  font-size: 50px;
  background-color: pink;

}
.best{
  color:red;


}

img {
float:inherit;
width: 250px;
height:100px;



}

.popular{
  font-size: 40px;
  float:left;
  width:70%;
  text-align: center;
}

.info{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  display:block;
  width: 400px;
  float: left;


}

.imp{
  font-style: italic;
  color: purple;
}




.image-column {
  width: 380px;
  float: left;
  padding: 4px;
  margin: 12px;

}

.column{
  width: 380px;
  float: left;
  padding: 10px;

}

.big{
    width: 380px;
    float: left;
    padding: 4px;
    margin: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }

  .html{
    position:fixed;
  }
